<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand logo fs-2" href="/"><img src="https://ih1.redbubble.net/image.5059076262.9207/raf,360x360,075,t,fafafa:ca443f4786.jpg"  width="50" height="50"> Sarah's Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active logo fs-5" aria-current="page" href="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active logo fs-5" aria-current="page" href="contact">Contact</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2 logo" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-dark logo" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>