{% extends "../base/base.html" %}
{% block title %}
    Sarah's Blog
{% endblock %}
{% block template %}
{% include "../base/navbar.html" %}
{% include "./components/splash.html" %}

<div class="container pt-5">
    <div class="row">
        <div class="col-12 col-lg-8">
            {% for post in posts %}
            <a href="" class="text-decoration-none infscroll">
                            <!-- border-0 --> 
                <div class="card pb-3 pb-sm-5 border-0">
                    <div class="row">
                        <div class="col-8">
                            <a href="{% url 'post-detail' post.slug %}" class="text-decoration-none card-body p-0">
                                <h1 class="mb-1 text-body fw-bold">{{post.title|truncatechars:80}}</h1>
                                <h2 class="text-muted fs-6 d-none d-md-block">{{post.subtitle}}</h2>
                                <div class="text-muted">{{post.updated_at|date:"M d y"}}</div>
                            </a>
                            </div>
                        <div class="col-4"><img src="{{ post.img.url }}" class="img-fluid float-end"></div>
                    </div>
                </div>
            </a>
            
            {% endfor %}
        </div>
        <div class="d-none d-lg-block col-4"></div>
    </div>
</div>

{% endblock %}